ghost/master/profile
ghost/master/dic_neta.txt
ghost/master/dic_EventTalk.txt
ghost/master/satori_savebackup.txt
ghost/master/satori_savedata.txt
shell/master/profile
shell/h_e_a
shell/aoiyami
shell/bitter_sweet/
shell/↑↓/
